.navigation-bar {
  float: left;
  border: none;
  background-color: #f1f1f1;
  width: 10vw;
  height: 95vh;
  overflow-y: auto;
}
/* Css for mobile Device */
@media screen and (max-width: 700px) {
  .navigation-bar {
    width: 100%;
    height: auto;
    position: relative;
    top: 5px;
  }
}
