.main-notes-section {
  overflow: hidden;
  float: left;
  padding: 0px 2px;
  border: none;
  height: 95vh;
  width: 90vw;
  border-left: none;
}

/* CSS for mobile device */
@media screen and (max-width: 700px) {
  .main-notes-section {
    height: 91vh;
    width: 100vw;
  }
}
