.heading {
  font-family: "Faster One", cursive;
  text-align: center;
  height: 5vh;
  font-size: 3vh;
  background-color: #f1f1f1;
  border-left: 0.3vh solid #7f7fd5;
  border-right: 0.3vh solid #7f7fd5;
  border-top: 0.3vh solid #7f7fd5;
  border-bottom: 0.3vh solid #7f7fd5;
  /* border: 0.4vh solid transparent;
  border-image: linear-gradient(45deg, red , yellow);
  border-image-slice: 1; */
}

/* CSS for mobile device */
@media screen and (max-width: 700px) {
  .heading {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}
